/* general */
html, body {
	font-family: 'Raleway', sans-serif;
}

/* index */
.index-main {
	height: 70%;
}

.menu {
	height: 30%;
}

.index-main img {
	height: 80%;
}

.index-name > h1 {
	font-size: 4em;
}