/* general */
body {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
}

/* index */
@media(min-width:767px) {
    .brand-heading {
        font-size: 60px;
    }
}

.intro {
	text-align: left
}